* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: white;
  overflow: hidden;
}

/* Layout struct */

.col1{grid-area: col1;}
.col2{grid-area: col2; }
.grid-container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "col1 col2";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100vh;
}